.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.page-header a {
  background-color: #feaf00;
  color: white;
  text-transform: uppercase;
  padding: 10px 40px;
  &:hover {
    background-color: #ffc954;
    color: white;
  }
}


.page-header h1 {
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
}
