/* Sidebar.css */

.sidebarContainer {
  background-color: #f2eae1;
  height: 100vh; /* Full viewport height */
  padding: 0 10px;
}

.sidebarContainer .selectedUser img {
  border-radius: 50%;
}
.sidebarContainer nav {
    /* margin: 0 10px; */
}
.sidebarContainer .selectedUser .role {
  font-size: 14px;
  color: #855c03;
  background-color: black !important;
}
.ps-sidebar-container {
  background-color: transparent !important;
}
/* =========================================== */
.ps-active {
  background: #feaf00;
  border-radius: 5px;
  color: white;
}
.ps-menu-button {
  border-radius: 5px;
  margin-top: 10px;
  &:hover {
    background-color: #feaf00 !important;
  }
}
